[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pytest-cov = "*"

[packages]
pytest = "*"
ijson = "*"
jsonschema = "*"
requests = "*"
tabulate = "*"
click = "*"
zipp = "==0.6"

[requires]
python_version = "3.7"
